@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Check Sites Log Report</h1>
    <a class="btn btn-primary text-white" asp-action="GetLogReport" asp-controller="Home"> Log Report</a>
   
</div>
